<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
    package="com.flt.servicelib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DemonstrationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_service_binding"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ServiceAndMessengerActivity"
            android:icon="@mipmap/ic_activity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".DemonstrationBindingService"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_service_binding">
        </service>

        <service
            android:name=".DemonstrationMessagingService"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_service_messaging">
        </service>

        <receiver
            android:name=".DemonstrationBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>